@import '../assets/iconfont.css';
@font-face {
  font-family: 'iconfont';
  src: url('../assets/iconfont.woff2?t=1639637531657') format('woff2'),
  url('../assets/iconfont.woff?t=1639637531657') format('woff'),
  url('../assets/iconfont.ttf?t=1639637531657') format('truetype');
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.logo-img {

}

.ant-layout-sider-children {
  border-right: 1px solid #dee4ec;
}
.ant-layout-sider-trigger {
  border-right: 1px solid #dee4ec;
}
.ant-layout-sider-collapsed {
  .layout-logo {
    visibility: hidden;
  }
}
.ant-layout-header.layout-header {
  display: none !important;
}
