/target/
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.log
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
/packages/
exchangis-server/exchangis-extds
/logs/
/web/package-lock.json
package-lock.json
.DS_Store

web/dist

workspace/