<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedatasphere.exchangis.job.server.mapper.ExchangisJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedatasphere.exchangis.job.domain.ExchangisJob">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="job_name" property="jobName"/>
        <result column="job_type" property="jobType"/>
        <result column="engine_type" property="engineType"/>
        <result column="job_labels" property="jobLabels"/>
        <result column="job_desc" property="jobDesc"/>
        <result column="content" property="content"/>
        <result column="alarm_user" property="alarmUser"/>
        <result column="alarm_level" property="alarmLevel"/>
        <result column="proxy_user" property="proxyUser"/>
        <result column="execute_node" property="executeNode"/>
        <result column="sync_type" property="syncType"/>
        <result column="job_params" property="jobParams"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_user" property="modifyUser"/>
    </resultMap>

    <sql id="TableName">
        exchangis_job
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        project_id, job_name, job_type, engine_type, job_labels, job_desc, content, alarm_user, alarm_level, proxy_user, execute_node, sync_type, job_params, create_time, create_user, modify_time, modify_user
    </sql>
</mapper>
