<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.wedatasphere.exchangis.project.provider.mapper.ProjectDataSourceMapper">

    <resultMap id="projectDataSourceResult" type="com.webank.wedatasphere.exchangis.project.entity.entity.ExchangisProjectDataSource">
        <result column="project_id" property="projectId"/>
        <result column="data_source_name" property="dataSourceName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="tableName">
        exchangis_project_datasource
    </sql>

    <sql id="detail_columns">
        project_id,data_source_name,create_user,create_time
    </sql>

    <insert id="insertProjectDataSources">
        <foreach collection="list" item="item" open="" close="" separator="">
            <![CDATA[
                INSERT INTO exchangis_project_datasource
                (project_id,data_source_name,create_user)
                VALUES
                (#{item.projectId},#{item.dataSourceName},#{item.create_user});
            ]]>
        </foreach>
    </insert>

    <select id="getDataSourcesByProject" parameterType="java.lang.Long" resultMap="projectDataSourceResult">
        SELECT * FROM <include refid="tableName"/>
        WHERE project_id=#{projectId}
    </select>

    <delete id="deleteProjectDataSource" parameterType="java.lang.Long">
        DELETE FROM <include refid="tableName"/>
        WHERE project_id=#{projectId}
    </delete>

</mapper>
