<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.wedatasphere.exchangis.datasource.mapper.DataSourceModelRelationMapper">
    <resultMap id="rateLimitUsed" type="com.webank.wedatasphere.exchangis.datasource.core.domain.DataSourceModelRelation">
        <result property="modelId" column="model_id"/>
        <result property="dsId" column="ds_id"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyUser" column="modify_user"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <sql id="table">
        exchangis_data_source_model_relation
    </sql>

    <sql id="columns">
        model_id,ds_id,
        create_user,create_time,modify_user,modify_time
    </sql>

    <insert id="addDsModelRelation" useGeneratedKeys="true" keyProperty="id">
        <foreach collection="list" item="item" open="" close="" separator="">
            <![CDATA[
                INSERT INTO exchangis_data_source_model_relation (
                 model_id,ds_id,
                 create_user,modify_user
                ) VALUES (
                 #{item.modelId},
                 #{item.dsId},
                 #{item.createUser},
                 #{item.modifyUser}
                );
            ]]>
        </foreach>
    </insert>

    <update id="updateDsModelRelation">
        <foreach collection="list" item="item" separator="">
            <![CDATA[
                UPDATE exchangis_data_source_model_relation SET
                model_id = #{item.modelId},
                ds_id = #{item.dsId},
                create_user = #{item.createUser},
                modify_user = #{item.modifyUser}
                WHERE
                ds_id=#{item.dsId};
            ]]>
        </foreach>
    </update>

    <delete id="deleteDsModelRelation">
        DELETE FROM <include refid="table"/> WHERE
        model_id=#{item.modelId} and ds_id=#{item.dsId}
    </delete>

    <select id="querydsModelRelations" resultMap="rateLimitUsed">
        SELECT
        <include refid="columns"/>
        FROM <include refid="table"/>
        ORDER BY create_time DESC
    </select>

    <select id="queryDsIdsByModel" resultMap="rateLimitUsed">
        SELECT
        ds_id
        FROM <include refid="table"/>
        WHERE model_id = #{modelId}
    </select>

    <select id="queryDsModelRelation" resultMap="rateLimitUsed">
        SELECT
        <include refid="columns"/>
        FROM <include refid="table"/>
        <include refid="findPageWhere"/>
        ORDER BY create_time DESC
    </select>

    <sql id="findPageWhere">
        <where>
            <if test="modelId != null and modelId != ''">
                AND model_id = #{modelId}
            </if>
            <if test="dsId != null and dsId != ''">
                AND ds_id = #{dsId}
            </if>
            <if test="createUser != null and createUser != ''">
                AND create_user = #{createUser}
            </if>
            <if test="modifyUser != null and modifyUser != ''">
                AND modify_user = #{modifyUser}
            </if>
        </where>
    </sql>

</mapper>