.project-tree .not-data {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.project-tree .ui-tree-node {
  margin: 0px;
}

.project-tree .ui-tree-node .ui-tree-node-text {
  width: calc(100% - 16px);
  display: block;
  padding: 5px 5px;
}

.project-tree .ui-tree-node .ui-tree-node-text .ui-contextmenu {
  width: 100%;
}

.project-tree .ui-tree-node .ui-tree-node-text .ui-contextmenu .ui-contextmenu-slot span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-tree .ui-tree-node .ui-tree-node-text.selected, .project-tree .ui-tree-node .ui-tree-node-text:hover {
  border-right: 2px solid #00a1d6;
}

.project-tree .ui-tree.ui-tree-inline .ui-tree-just-data .ui-tree-node {
  width: 100%;
  display: block;
}
